/* Configs */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Path: test/index.html */

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}
.half {
  width: 40%;
  height: 100vh;
  background-color: #fff;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
}
label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
}
input[type="submit"] {
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
